

.list:hover .listitem {
    filter: blur(2px);
}

.list .listitem:hover {
    filter: blur(0px);
}
.listlink:hover:not(.navbar-brand) {
    background: linear-gradient(to right, #ff00fa 0%, #0ff 25%, #ff3a58 50%, #ff3674 75%, #8f9bff 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}